.block {
	box-sizing: border-box;
	position: absolute;
}

.empty {
	border: none;
}

.green {
	background-image: url("./Rock2.jpg");

	&:nth-last-child(-n+15),
	&:nth-child(-n+15) {
		background-image: url("./Rock.jpg");
	}

	object-fit: cover;
}

.wall {
	background-image: url("./Wall.jpg");
	object-fit: cover;
}

.goal {
	background-image: url("./Goal.png");
	object-fit: cover;
}