.block {
	box-sizing: border-box;
	position: absolute;
}

.empty {
	border: none;
}

.green {
	border: 2px solid green;
}

.wall {
	background-image: url("./Wall.jpg");
	object-fit: cover;
}

.goal {
	background-image: url("./Goal.jpg");
	object-fit: cover;
}