.block {
	box-sizing: border-box;
	position: absolute;
}

.empty {
	border: none;
}

.green {
	background-image: url("./Rock2.jpg");

	&:nth-last-child(-n+15),
	&:nth-child(-n+15) {
		background-image: url("./Rock.jpg");
	}

	&:first-child {
		background-image: url("./corner_haut_gauche_v2.jpg");
	}

	&:nth-child(15) {
		background-image: url("./corner_haut_droite_v2.jpg");
	}

	&:nth-last-child(15) {
		background-image: url("./corner_bas_gauche.jpg");
	}

	&:last-child {
		background-image: url("./corner_bas_droite.jpg");
	}


	object-fit: cover;
}

.wall {
	background-image: url("./Wall.png");
	object-fit: cover;
}

.goal {
	background-image: url("./Goal.png");
	object-fit: cover;
}