.block {
	box-sizing: border-box;
	position: absolute;
}

.empty {
	border: none;
}

.green {
	border: 2px solid green;
}

.wall {
	background-color: rgb(255, 0, 0);
}

.goal {
	background-color: rgb(230, 255, 2);
}