.game {
	$bg_game_color: black;
	$bg_flash_color1: #332621;
	$bg_flash_color2: rgb(255, 0, 0);
	$bg_flash_color3: white;

	background-color: $bg_flash_color1;
	max-width: inherit;
	position: absolute;

	&.dead {
		animation: dead 0.25s forwards 8 alternate;
	}

	@keyframes dead {
		0% {
			background-color: $bg_flash_color1;
		}

		50% {
			background-color: $bg_flash_color2;
		}

		100% {
			background-color: $bg_flash_color3;
		}
	}

	.background {
		background-image: url('./background_v2.png');
		width: inherit;
		height: inherit;
	}
}