.highscore {

	// Mixin 
	@mixin changeColorInfinite($fromColor, $toColor) {
		animation: color-#{$fromColor}-#{$toColor} 0.75s infinite alternate;

		@keyframes color-#{$fromColor}-#{$toColor} {
			from {
				color: $fromColor;
			}

			to {
				color: $toColor;
			}
		}
	}

	// PlaceHolder 
	%flexRow {
		display: "flex";
		flex-direction: "row";
	}

	$bg_color_highscore: black;
	$color1: white;
	$color2: yellow;

	display: flex;
	flex-direction: column;
	background-color: $bg_color_highscore;
	color: $color1;
	font-size: 30px;
	opacity: 0;
	animation: show 10s forwards;

	@keyframes show {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.one_line {
		@extend %flexRow;
		justify-content: space-between;
	}

	.group { @extend %flexRow }

	.color1 {
		color: $color1;
		@include changeColorInfinite($color1, $color2);
	}

	.color2 {
		color: $color2;
		@include changeColorInfinite($color2, $color1);
	}
}