.score_control {
	padding-top: 2.5px; 
	min-height: 30px;
	max-height: 30px;
	cursor: pointer;
	user-select: none;
	background-color: rgba(255, 255, 255, 0.10);
	color: white;
	border: none;
	font-size: 21px;
	z-index: 1;
	padding-left: 15px;
	padding-right: 15px;
}